<div data-role="page" data-url="<%= Rho::Application.startURI %>/">

    
  <div data-role="header" data-position="inline">
  <H2>No Configuration found</H2>
  </div>

  <div data-role="content">
  <p>Welcome to Motorola RhoElements Hybrid Container. This is the default startpage. This page has been provided to get you and your application up and running with RhoElements. There is just <b>one step</b> required for first use:
Change the default <pre>Config.xml</pre><br/>
     put it in the SDCard folder: <pre>/Android/data/REHC/</pre>
  </p>
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <a data-role="button"href="#" onClick="Rho.Application.quit();">EXIT</a>
      </div>
    </div>
  </div>
</div>
